
.tabPane {
    width: 360px;
    height: 400px;
}
  
.tabButtonsCSS button {
    width: 80px;
    margin-right: 10px;
    background-color: #ccc;
    border: 1px solid rgb(118, 118, 118);
    border-radius: 3px;
    padding: 2px 5px;
}

.tabButtonsCSS .selected {
    font-weight: bold;
    background-color: #aaa;
}

.tabContentPane {
    width: 310px;
    height: 60px;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #aaa;
    background-color: #f0f0f0;
}